<sly data-sly-use.model="com.ixm.core.models.UspModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.usps="${model.usps}">
    <div class="component info col-12">
        <div class="component-content">
            <div class="container info-without-description">
                <div><h2 class="field-title">${model.title}</h2></div>

                <div data-sly-list.usp="${usps}" class="row component column-splitter">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="component imagetexttile imagetexttile col-12">
                            <div class="component-content">
                                <div class="logo-card-tile">
                                    <div>
                                        <div><img class="usp-image" alt="${usp.altText}" src="${usp.image}" /></div>
                                        <h3 class="field-title">${usp.uspTitle}</h3>
                                        <div data-sly-list.bullet="${usp.bullets}" class="field-description">
                                        ${bullet.text @ context='html'} 
                                        </div>
                                        <div class="field-link"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</sly>

