
scripts=["
create service user migrationSystemUser with path /home/users/system/ixm-aem/migrationSystemUser

create path /content/ixm-aem(cq:Page)
create path /conf/ixm-aem(sling:Folder)
set ACL for migrationSystemUser
allow jcr:read,rep:write on /content/ixm-aem
allow jcr:read,rep:write on /content/dam/ixm-aem
allow jcr:read on /conf/ixm-aem

end
"]
