<div
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-use.links="com.ixm.core.models.Link">
	<h4 class="field-title field-title">Connect With Us</h4>
	<ul class="social-list">
		<sly data-sly-list.item="${links.linkDetailsWithMap}"> <sly
			data-sly-test="${item.linkUrl  && item.linkText}">
		<li><a class="field-icon"></a> <a title="${item.linkText}"
			href="${item.linkUrl}" target="${item.linkCheckbox}"> <sly
					data-sly-test="${item.imageUrl}"> <img src="${item.imageUrl}"
					alt="${item.altText}" data-variantitemid=""
					data-variantfieldname="icon"> </sly>
		</a></li>
		</sly> </sly>
	</ul>
</div>
<sly
	data-sly-call="${template.placeholder @ isEmpty=!links.linkDetailsWithMap}"></sly>
