<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${properties.jcr:title}</title>
</head>
<body class="coral--light foundation-layout-util-maximized-alt">
    <sly data-sly-call="${clientLib.all @ categories=['coralui3','granite.ui.coral.foundation','granite.ui.shell','cq.authoring.dialog', 'ixm-aem.utility']}" data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
    <div class="migration-form-container">
        <h1 class="coral-Heading coral-Heading--1">Migration Utility</h1>
        <button class="migration-button" is="coral-button" variant="primary" iconsize="S">
            Submit
        </button>
        <div class="responseMessage">
            <h4 id="successDiv" class="alert alert-success" style="display:none">
            </h4>
            <h4 id="errorDiv" class="alert alert-danger" style="display:none">
            </h4>
        </div>
    </div>
</body>
</html>